@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: #3b7a57;
    padding: 20px;
    height: 100%;
    min-height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    background-color: #5c9475;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #8bc5a5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    background-color: #509971;
    color: black;
    font-family: 'Poppins', Arial, sans-serif;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 10px;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.body-content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.right-side {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
}

#map-container {
    flex-grow: 1;
    display: flex;
    height: auto;
    width: auto;
    padding: 10px;
    max-height: 300px; 
    min-width: 400px;
}

#map {
    width: 100%;
    height: 100%;
    border: 2px solid darkgray;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    max-height: 300px;
}

.left-side {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
}

#suggested-container {
    flex-grow: 1;
    display: flex;
    height: auto;
    width: auto;
    padding: 10px;
    max-height: 500px; 
    min-width: 400px;
}

#suggested {
    width: 100%;
    height: 100%;
    text-align: center;
}

#suggested2 {
    width: 100%;
    height: 100%;
    border: 2px solid darkgray;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

.array-item {
    padding: 8px;
    width: 100%;
}

#weather-container {
    flex-grow: 1;
    display: flex;
    height: auto;
    width: auto;
    padding: 10px;
    max-height: 500px; 
}

#weather {
    width: 100%;
    height: 100%;
    padding: 0 5px;
    text-align: center;
    border: 2px solid darkgray;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    backdrop-filter: blur(20px);
}

#weather p {
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    text-align: center;
    width: auto;
}

#activity-container {
    flex-grow: 1;
    display: flex;
    height: auto;
    width: auto;
    padding: 10px;
    max-height: 275px; 
    overflow-y: auto;
}

#activity {
    width: 100%;
    height: 100%;
    padding: 0 5px;
    text-align: center;
    border: 2px solid darkgray;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    max-width: 800px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.advisory {
    word-wrap: break-word;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd; /* Adds a bottom border to each advisory */
    padding-bottom: 10px; /* Adds some padding below the text */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .sidebar ul li {
        margin: 0;
    }

    .main-content {
        margin-top: 20px;
    }

    #map {
        width: 90%;
        height: 70%;
    }
}

header .input-box {
    position: relative;
    width: 30%;
    height: 50px;
    margin: 10px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(85, 145, 100, 0.7);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 0 45px 0 20px;
}

.input-box input::placeholder {
    color: rgba(24, 17, 17, .7);
}

.input-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

#submit {
    position: absolute;
    right: -55px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    padding: 10px 20px;
    background-color: #5fa37e;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

#submit:hover {
    background-color: #4c8b69;
}

.button-38 {
    background-color: #5fa37e;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px;
}

.button-38:hover {
    background-color: #4c8b69;
}

.button-38:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-38:focus-visible {
    box-shadow: none;
}

#weather .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#weather .video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
