/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: white;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: #555;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: lightgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex;
    align-items: flex;
}

.user-icon {
    background-color: darkgray;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.body-content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.right-side {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
}

#map-container {
    flex-grow: 1;
    display: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    padding: 10px;
}

#map {
    width: 100%;
    height: 100%;
    border: 2px solid #333;
    border-radius: 10px;
}

#weather-container {
    flex-grow: 1;
    display: flex;
    width: auto;
    padding: 10px;
}

#weather {
    width: 100%;
    height: 100%;
    padding: 0 5px;
    text-align: center;
    border: 2px solid #333;
    border-radius: 10px;
}

#activity-container {
    flex-grow: 1;
    display: flex;
    height: auto;
    width: auto;
    padding: 10px;
}

#activity {
    width: 100%;
    height: 100%;
    padding: 0 5px;
    text-align: center;
    border: 2px solid #333;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    .sidebar ul li {
        margin: 0;
    }

    .main-content {
        margin-top: 20px;
    }

    #map {
        width: 90%;
        height: 70%;
    }
}

header .input-box {
    position: relative;
    width: 30%;
    height: 50px;
    margin: 10px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(24, 17, 17, .5);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 0 45px 0 20px;
}

.input-box input::placeholder {
    color: rgba(24, 17, 17, .7);
}

.input-box i {
    position: absolute;
    right: -45px;
    top: 55%;
    transform: translateY(-50%);
    font-size: 20px;
}

#submit {
    position: absolute;
    right: -160px;
    top: 55%;
    transform: translateY(-50%);
    font-size: 20px;
}
